<nav class="flex justify-between items-center px-6 py-4 bg-white text-black">
  <h1 class="text-2xl font-bold text-red-600">
    <a routerLink="/home">SubletUC</a>
  </h1>
  <ul class="flex space-x-4">
    <li>
      <a routerLink="/home" routerLinkActive="underline text-red-300" class="hover:text-red-700">
        Home
      </a>
    </li>
    <li>
      <a routerLink="/view-listings" routerLinkActive="underline text-red-300" class="hover:text-red-700">
        Find a Room
      </a>
    </li>
    <li>
      <a routerLink="/create-listing" routerLinkActive="underline text-red-300" class="hover:text-red-700">
        List a Room
      </a>
    </li>
    <li>
      <a routerLink="/messaging" routerLinkActive="underline text-red-300" class="hover:text-red-700">
        Messages
      </a>
    </li>
    <li>
      <a routerLink="/bookmark" routerLinkActive="underline text-red-300" class="hover:text-red-700">
        <i class="fa-regular fa-bookmark"></i>
      </a>
    </li>
    <li>
      <a routerLink="/profile" routerLinkActive="underline text-red-300" class="hover:text-red-700">
        Profile
      </a>
    </li>
  </ul>
</nav>
<hr class="border-b-2 border-black w-full" />